/* ========== Accueil ========== */

div#accueil {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/nature-3824496_1280.jpg");
    background-size: cover;
    background-position: center;
    height: 1000px;
}

header p {
    display: inline-block;
    color: white;
    border: 1px solid white;
    padding: 0.5%;
    margin-left: 2%;
    margin-top: 1.5%;
    font-size: 25px;
}

header p span {
    color: red;
    font-size: 35px;
}

header ul {
    float: right;
    margin-right: 5%;
    margin-top: 1.5%;
    list-style: none;
}

header ul a {
    color: white
}

header ul li {
    display: inline-flex;
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
    margin-left: 40px;
    font-size: 30px;
}

header ul li:hover {
    background: white;
    color: black;
    transition: ease 0.7s;
}

header ul li#Accueil {
    background: white;
    color: black;
}

div#center {
    width: 40%;
    margin: auto;
    margin-top: 320px;
}

div#center h1, div#center p {
    text-align: center;
    color: white;
}

div#center h1{
    font-size: 65px;
}

div#center p{
    margin-top: 2%;
    font-size: 23px;
}

/* ========== Service ========== */

div#service div.logo {
    display: flex;
    justify-content: flex-end;
}

div#service p#logo{
    border: solid 1px;
    font-size: 25px;
    margin-top: 1.5%;
    margin-right: 2%;
    padding: 0.5%;
} 

div#service p span {
    color: red;
    font-size: 35px;
}

div.service {
    width: 60%;
    margin-left: 4%;
}

div.service h2 {
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 3%;
}

div.service p {
    font-size: 20px;
    text-align: justify;
}

/* ========== Blog ========== */

div#blog {
    margin-top: 10%;
}

img#menuburger {
    float: right;
    margin-right: 2%;
}

img#menuburger:hover {
    opacity: 0.6;
    transition: ease 0.8s;
}

div.blog {
    width: 60%;
    margin-left: 4%;
}

div.blog h2 {
    font-weight: normal;
    font-size: 40px;
    /*margin-bottom: 3%;*/
}

div.blog p {
    font-size: 20px;
}


/* ========== Blog 1 ========== */

div.blog1 {
    margin-left: 4%;
    display: flex;
    margin-bottom: 8%;
}

div.blog1 div.text p#histoire {
    word-break: break-all;
}

div.blog1 div.text {
    width: 40%;
}

div.blog1 img {
    margin-left: 3%;
}

/* ========== Blog 2 ========== */

div.blog2 {
    margin-left: 4%;
    display: flex;
    margin-bottom: 8%;
}

div.blog2 div.text {
    width: 40%;
    margin-left: 13%;
} 

div.blog2 div.text p#histoire {
    word-break: break-all;
}


/* ========== Blog 2 ========== */

footer {
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/nature-3824496_1280.jpg");
    background-size: cover;
    background-position: center;
    
}

footer div.logo p{
    display: inline-block;
    color: white;
    border: 1px solid white;
    padding: 0.5%;
    margin-left: 2%;
    margin-top: 1.5%;
    font-size: 25px;
}

footer p span {
    color: red;
    font-size: 35px;
}

footer p#copyright {
    color: white;
    display: inline-block;
    margin-left: 42%;
}

h2#post {
    margin-left: 3%;
}

form {
    margin-left: 3%;
}